#abt {
	float: left;
	width: 300px;
}

#cnvs {
	width: 395px;
	margin: 0 auto;
}

canvas {
	float: left;
	position: fixed;
	background: transparent;
}

#background {
	z-index: -2;
}

#main {
	z-index: -1;
}

#ball {
	z-index: 0;
}